.container{
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    justify-content: flex-start;
}

.heading h2{
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 5px;
}

.subHeading{
    color: #454245;
    width: 80%;
    padding-bottom: 2rem;
}


.membersList{
    overflow-y: scroll;
    height: 30vh;
}

.membersList__ul{
    list-style-type: none;
    width: 100%;
}

.membersList__li{
    display: flex;
}

.createButton{
    margin-top: 2rem;
    padding-top: 2rem;
    color: #fff;
    background-color: #4a154b;
    border: none;
    margin-bottom: 20px;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    height: 44px;
    min-width: 96px;
    padding: 0 16px 3px;
}

.close{
    align-self: flex-end;
    justify-content: flex-end;
    padding: 0;
}