body {
    margin: 0;
}

.header__container {
    width: 100%;
}

.header {
    width: 100%;
    height: 40px;
    background-color: var(--slack-color);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: lightgray;
}

.header__menu {
    padding-left: 10px;
    cursor: pointer;
}


.header__history {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
}


.header__search {
    width: 80%;
    height: 50%;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    cursor: pointer;
}
