.drop-down-header {
  width: 100%;
  min-height: 4%;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  border-top: none;
  position: relative;
}

.to__newUser {
  font-weight: 100;
  margin-left: 20px;
  font-size: 16px;
}

.pin-items {
  color: #454245;
  margin-left: 2%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.pin-icon {
  font-size: 70%;
  margin-right: 4px;
  color: #454245;
  transform: rotate(290deg);
  cursor: pointer;
}

.pin-items h3 {
  font-size: 70%;
  color: lightgray;
}

.add-book-mark {
  color: #454245;
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-book-mark-plus {
  font-size: 70%;
  margin-right: 4px;
}
.add-book-mark h3 {
  font-size: 70%;
  color: lightgray;
}

.receiver-list {
  color: black;
  list-style: none;
  z-index: 2;
  width: 95%;
  height: 300px;
  position: absolute;
  bottom: calc(-292px);
  left: 50px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding-top: 10px;
  overflow-y: scroll;
}

.receiver-list > li {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: bold;
}

.receiver-list > li:hover {
  background-color: #2d62d6;
  color: white;
}

.receiver-list > li > img {
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.selected-receivers {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  margin-left: 10px;
  padding: 10px 0;
}

.selected-receivers > div {
  height: 25px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  background-color: #a8c2f393;;
  border-radius: 5px;
  padding-right: 5px;
  overflow: hidden;
}

.selected-receivers > div > img {
  height: 100%;
}

.remove-button {
  width: 25px;
  height: 100%;
  margin-right: 0;
  border: none;
  background-color: transparent;
  font-size: 25px;
  display: grid;
  place-content: center;
  color: gray
}

.remove-button:hover {
  color: black;
}