.chat-screen-body {
  width: 100%;
  height: 80vh;
  border: none;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chat-screen-body::-webkit-scrollbar {
  display: none;
}

.user-chat-body {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
}

.user-chat {
  width: 100%;
  height: 60px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.user-chat img {
  width: 50px;
  height: auto;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin-right: 5px;
}

.user-chat h1 {
  margin-top: -1%;
  font-size: 90%;
}
