.chat-screen-header {
  padding-top: 10px;
  width: 100%;
  height: 6%;
  border: 1px solid lightgray;
  color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chat-screen-header-button {
  margin-left: 1%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  border: none;;
}

.lock-icon {
  font-size: 20px;
  color: black;
}

.chat-screen-label {
  color: black;
  font-size: 18px;
}

.chat-screen-label.new-message {
  margin-left: 20px;
}


.chat-screen-header-right-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.avatar-icons {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.avatar-icons img {
  width: 90%;
  cursor: pointer;
}

.call-icon {
  font-size: 20px;
  color: black;
}


.show-hide-list {
  font-size: 15px;
  color: white;
  background-color: darkgray;
  border: none;
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
}
.add-members-icon{
  margin-left: 10px;
  color: black;
  cursor: pointer;
}
